      .reveal h1 {
        font-size: 1.7em !important;  /* Adjust size for <h1> */
      }
      .reveal h2 {
        font-size: 1em !important;  /* Adjust size for <h2> */
      }
      .reveal h3 {
        font-size: 0.7em !important;  /* Adjust size for <h3> */
      }
      /* Optional: Prevent titles from being uppercase */
      .reveal h1, .reveal h2, .reveal h3 {
        text-transform: none !important;
      }
      .reveal p {
       font-size: 0.7em !important;  /* Adjust size for normal text */
      }
      .reveal ul li {
        line-height: 1.5; /* Adjust line spacing */
      }